@tailwind base;
@tailwind components;
@tailwind utilities;

.honeycomb {
	background: radial-gradient(circle farthest-side at 0% 50%, #fff 23.5%, rgba(240, 166, 17, 0) 0)
			21px 30px,
		radial-gradient(circle farthest-side at 0% 50%, #fcfcfc 24%, rgba(240, 166, 17, 0) 0) 19px 30px,
		linear-gradient(#fff 14%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 85%, #fff 0) 0 0,
		linear-gradient(
				150deg,
				#fff 24%,
				#fcfcfc 0,
				#fcfcfc 26%,
				rgba(240, 166, 17, 0) 0,
				rgba(240, 166, 17, 0) 74%,
				#fcfcfc 0,
				#fcfcfc 76%,
				#fff 0
			)
			0 0,
		linear-gradient(
				30deg,
				#fff 24%,
				#fcfcfc 0,
				#fcfcfc 26%,
				rgba(240, 166, 17, 0) 0,
				rgba(240, 166, 17, 0) 74%,
				#fcfcfc 0,
				#fcfcfc 76%,
				#fff 0
			)
			0 0,
		linear-gradient(90deg, #fcfcfc 2%, #fff 0, #fff 98%, #fcfcfc 0%) 0 0 #fff;
	background-size: 40px 60px;
}

.min-fill {
	min-height: calc(100vh - 74px); /* screen height - header height */
}
